yolo11m.pt
yolo11n.pt
yolo11x_finetuned_bottles_on_site_v3.pt
runs
images
models
videos
inference_saved_frames
*.log
.env
bottle_dataset/
extra_ok_images/
extra_nok_images/
test/
merged_bottle_dataset/